body {
  background-color: #FFF;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1 {
  color: #6D6E71;
  font-family: "Roboto Slab", serif;
}

.make-idea-teal {
  color: #00A79D;
}

.top-section {
  align-items: center;
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
}

.input {
  border: 2px solid #C7C7CD;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 5px 20px;
  padding-left: 5px;
  width: 80%;
}

.small-input {
  height: 26px;
}

textarea {
  font-family: "Open Sans", sans-serif;
  height: 70px;
  resize: none;
}

textarea:focus,
input:focus {
    outline: 3px solid #C7C7CD;
}

#save-button {
  background-color: #00A79D;
  border: none;
  box-sizing: border-box;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  height: 35px;
  margin: 7px 0 18px 0;
  width: 80%;
}

#save-button:hover {
  background-color: #045E55;
}

#save-button:disabled {
  background-color: #6D6E71;
}

.bottom-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.idea-box-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
}

article {
  border-bottom: 2px solid #D1D3D4;
  margin-top: 15px;
  min-height: 100px;
  padding-left: 5px;
  width: 80%;
}

h2 {
  color: #6D6E71;
  display: inline;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 0;
}

p {
  color: #939598;
  font-size: 18px;
}

.delete-button,
.downvote-button,
.upvote-button {
  background: url('images/sprite.png') no-repeat top left;
  border: none;
  height: 20px;
  margin-bottom: 15px;
  width: 20px;
}

.delete-button {
  background-position: 0 0;
  display: inline;
  float: right;
  right: 5px;
  top: 5px;
}

.delete-button:hover {
  background-position: -21px 0;
}

.delete-button:focus,
.upvote-button:focus,
.downvote-button:focus {
  outline: none;
}

.upvote-button {
  background-position: -42px 0;
  margin-right: 5px;
}

.upvote-button:hover {
  background-position: -63px 0;
}

.downvote-button {
  background-position: -85px 0;
  margin-right: 10px;
}

.downvote-button:hover {
  background-position: -106px 0;
}

h3{
  color: #6D6E71;
  display: inline;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (min-width: 640px){

  h1{
    font-size: 2.5em;
  }

  .input,
  textarea,
  #save-button,
  article {
    width: 60%;
  }

  textarea {
    height: 28px;
  }

  article {
    max-height: 200px;
    overflow: scroll;
  }
}
