body {
  background-color: #FFF;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "Roboto Slab", serif;
  color: #6D6E71;
}

.make-idea-teal {
  color: #00A79D;
}

.top-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #E5F3F2;
}

.input {
  width: 80%;
  border: 2px solid #C7C7CD;
  margin: 5px 20px;
  padding-left: 5px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;

}

.small-input {
  height: 26px;
}

textarea {
  resize: none;
  height: 70px;
  font-family: "Open Sans", sans-serif;
}

textarea:focus,
input:focus {
    outline: 3px solid #C7C7CD;
}

#save-button {
  margin: 7px 0 18px 0;
  height: 35px;
  border: none;
  width: 80%;
  background-color: #00A79D;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

#save-button:hover {
  background-color: #045E55;
}

#save-button:disabled {
  background-color: #6D6E71;
}

.bottom-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
.delete-button {
  background: #FFF url('images/delete.svg')  no-repeat;
  border: none;
  height: 20px;
  width: 20px;
  float: right;

}

.delete-button:hover {
  background: #FFF url('images/delete-hover.svg') no-repeat;
}

.idea-box-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
