body {
  background-color: #FFF;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "Roboto Slab", serif;
  color: #6D6E71;
}

.make-idea-teal {
  color: #00A79D;
}

.top-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #E5F3F2;
}

.input {
  width: 80%;
  border: 1px solid #C7C7CD;
  margin: 5px 20px;
}

textarea {
  resize: none;
  height: 70px;
}

#save-button {
  
}
